.ceres-toc {
  margin: 24px 0;
}

@media (min-width: 640px) {
  .ceres-toc {
    margin: 32px 0;
  }
}

.ceres-toc__list {
  color: var(--ceres-blue);
  padding-left: 24px;
  line-height: 1.625;
  list-style-type: decimal;
  margin: 0;
}

@media (min-width: 640px) {
  .ceres-toc__list {
    padding-left: 32px;
  }
}

.ceres-toc__list li + li {
  margin-top: 4px;
}

.ceres-toc__link {
  color: var(--ceres-blue);
  text-decoration: none;
  transition: color 0.2s ease;
}

.ceres-toc__link:hover {
  color: var(--ceres-blue-hover);
}
